<div class="input-group">
  <div class="row col-xs-10 col-md-10">
    <label> Please choose suitable tag for the highlighted word
      <span style="font-weight: bolder; color: red;">*</span>
    </label>
  </div>
  <div class="row col-xs-6 col-md-4">
    <select class="input-small form-control" name="tagselector" id="tagselector">
      <option value="0">-- choose --</option>
      <option value="noun">Noun</option>
      <option value="verb">Verb</option>
      <option value="adjective">Adjective</option>
      <option value="adverb">Adverb</option>
      <option value="conjunction">Conjunction</option>
      <option value="determiner">Determiner</option>
      <option value="preposition">Preposition</option>
      <option value="pronoun">Pronoun</option>
      <option value="unknown">Unknown</option>
    </select>
  </div>
  <div>
  </div>
  <div>
  </div>
</div>