<!doctype html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
		<title> توسيم  </title>
		<link href="/static/css/bootstrap-rtl.min.css" rel="stylesheet">
		<link href="/static/css/customcss.css" rel="stylesheet">
	</head>
	<body>
		<nav class="rtl navbar navbar-expand-md navbar-dark bg-dark mb-4">
			<a class="navbar-brand" href="/">توسيم</a>
			<small  class="navbar-text mr-auto text-muted" style="font-size:40%; margin-top:5px;" >&nbsp; منصة تعهيد جماعي لمعالجة اللغات الطبيعية </small>
			<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>
			<div class="navbar-collapse collapse" id="navbarCollapse" style="">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link" href="/help/">المساعدة</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/logout/">تسجيل الخروج</a>
					</li>
					
				</ul>
			</div>
		</nav>
		<div class="container rtl">