{{ template "header.html" . }}
<div style="font-size:130%;">
	<h1>المساعدة</h1>
	<h2>قواعد التقطيع</h2>
	<p>نستعرض فيما يلي الأجزاء القابلة للتقطيع</p>
	<h3>قبل الكلمة:</h2>
	<ul>
		<li>( أ ) للاستفهام. مثال: أكِتابك؟</li>
		<li>( ب ) حرف جر. مثال: بكتابك.</li>
		<li>( س ) حرف استقبال. مثال: ستعلمون.</li>
		<li>( ف ) حرف عطف. مثال: خالد فـمحمد.</li>
		<li>( ك ) حرف جر للتشبيه. مثال: كالنار.</li>
		<li>( ل ) حرف جر قبل الاسم والفعل. مثال: لِمحمد.</li>
		<li>( و ) للعطف وللقسم. مثال: خالد و محمد.</li>
	</ul>
	
	<h3>بعد الكلمة:</h3>
	<ul>
		<li>( ت ) تاء المتكلم. مثال: كتبتُ.</li>
		<li>( ت ) تاء المخاطب والمخاطبة. مثال: كتبتَ - كتبتِ.</li>
		<li>( ك ) كاف المخاطب والمخاطبة. مثال: ضربكَ - ضربكِ.</li>
		<li>( هـ ) هاء الغائب. مثال: كتابه.</li>
		<li>( ها ) هاء الغائبة. مثال: كتابها.</li>
		<li>( نا ) ناء المتكلمين. مثال: كتابنا.</li>
		<li>( تما ) للمثنى. مثال: أكلتما.</li>
		<li>( كما ) للتثنية. مثال: كتابكما.</li>
		<li>( ا ) ألف الغائبيْن. مثال: ضَرَبَا.</li>
		<li>( تا) تاء الغائبتيْن. مثال: ضربتا.</li>
		<li>( هما ) الغائب المثنى. مثال: ضربهما.</li>
		<li>( وا ) واو الجمع. مثال: ضربوا.</li>
	</ul>
</div>
<div class="col-xs-12" style="height:30px;"></div>
</div>
{{ template "footer.html" . }}